<main class="main-container">

  <header class="header">
    <h1>The Chess Champion's League</h1>
  </header>

  <div class="content">
    <app-match-list></app-match-list>

    <div class="divider"></div>

    <app-participant-list></app-participant-list>

    <div class="divider"></div>

    <app-league-list></app-league-list>

    <div class="divider"></div>

    <app-champion-list></app-champion-list>
  </div>
  <footer class="footer">
    <p>&copy; The Chess Champion's League 2024</p>
  </footer>
</main>
