<div class="main-container">
  <header class="header">
    <h1>The Chess Champion's League</h1>
  </header>

  <nav class="button-group">
    <button (click)="navigateTo('matches')">Matches</button>
    <button (click)="navigateTo('participants')">Participants</button>
    <button (click)="navigateTo('leagues')">Leagues</button>
    <button (click)="navigateTo('champion')">Current Champion</button>
  </nav>

  <main class="content">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    <p>&copy; 2024 The Chess Champion's League</p>
  </footer>
</div>
