<div class="container">
  <h1>The Chess Champion's League</h1>

  <div class="button-group">
    <button (click)="navigateTo('matches')">Matches</button>
    <button (click)="navigateTo('participants')">Participants</button>
    <button (click)="navigateTo('leagues')">Leagues</button>
    <button (click)="navigateTo('champion')">Current Champion</button>
  </div>

  <div [ngSwitch]="currentSection">
    <app-matches-list *ngSwitchCase="'matches'"></app-matches-list>
    <app-participants-list *ngSwitchCase="'participants'"></app-participants-list>
    <app-leagues-list *ngSwitchCase="'leagues'"></app-leagues-list>
    <app-champion-list *ngSwitchCase="'champion'"></app-champion-list>
    <div *ngSwitchDefault>Select a section</div>
  </div>
</div>
